html {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  color: $text;
  overflow-x: hidden; /* Адаптив контент будет плавно сужаться */
  min-width: 320px;   /* Адаптив с какой ширины ему плавно сужаться */
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.info-btn {
  padding: 10px 35px;
  background-color: $red;
  border: none;
  border-radius: 20px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 500;
  color: #fff;
  outline: none;
  cursor: pointer;
  transition: all .5s;
  &:hover {
    background: $text;
    color: $red;
    transition: all 0.5s;
  }
}

.title {
  margin-bottom: 60px;
  font-size: 45px;
  line-height: 25px;
  font-weight: 500;
  color: #000;
}
