html {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

body {
  width: 100%;
  height: 100%;
  background: greenyellow;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: 300;
  color: $text;
  overflow-x: hidden; /* Адаптив контент будет плавно сужаться */
  min-width: 320px; /* Адаптив с какой ширины ему плавно сужаться */
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
